button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: auto;
    height: auto;
  }

  .screenshot{
    width: 20vw;
  }

  .my-footer {
    position: absolute;
    left: 0;
    width: 100%;
    height: 30%;
    background-color: #000000;
    color: #ebdede;
  }

  
@media (max-width: 768px) {

    .imageButton {
        background-color: transparent;
        border: none;
        cursor: pointer;
        height: 200px;
      }
      .screenshot{
        width: 60vw;
      }
}

